html.dark {
    // --text-color: #1a162e;
    --text-color: #ffffff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(44%)
        saturate(2066%) hue-rotate(180deg) brightness(124%) contrast(110%);
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #ededf6;
}
