@use "../abstracts";

html.dark {
    // HEADER
    // --text-color: #1a162e;
    --text-color: #ffffff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(44%)
        saturate(2066%) hue-rotate(180deg) brightness(124%) contrast(110%);
    --body-bg: #292e39;
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.breakpoint(lg) {
        --top-bar-shadow-color: rgba(0, 0, 0, 0.2);
    }
    // MENU
    --dropdown-bg-color: #2f3441;
    --dropdown-shadow: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(18%) sepia(8%)
        saturate(1437%) hue-rotate(186deg) brightness(93%) contrast(90%);
    --top-menu-border-color: #171c28;
    --menu-text-color: #b9babe;
    --menu-icon-color: brightness(0) saturate(100%) invert(100%) sepia(91%)
        saturate(341%) hue-rotate(269deg) brightness(106%) contrast(96%);
}
