@use "../abstracts";

html {
    // HEADER
    --text-color: #1a162e;
    // --text-color: green;
    --icon-color: brightness(0) saturate(100%) invert(9%) sepia(9%)
        saturate(4629%) hue-rotate(212deg) brightness(87%) contrast(96%);
    --body-bg: #f6f6f6;
    --header-bg-color: #eeeeee;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.breakpoint(lg) {
        --header-bg-color: #fff;
        --top-bar-shadow-color: rgba(237, 237, 246, 0.2);
    }

    // MENU
    --dropdown-bg-color: #fff;
    --dropdown-shadow: rgba(200, 200, 200, 0.4);
    --top-menu-border-color: #d2d1d6;
    --menu-text-color: #1a162e;
}
