.dropdown {
    position: absolute;
    left: 0;
    padding-top: 54px;
    // display: none;
    width: min(1240px, 100%);

    &__inner {
        position: relative;
        height: min(582px, 100vh - 158px);
        padding: 30px;
        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: 0px 40px 90px 20px var(--dropdown-shadow);

        &::before {
            position: absolute;
            content: url("../icons/dropdown-arrow.svg");
            top: -13px;
            left: var(--arrow-left-pos);
            translate: -50%;
            filter: var(--dropdown-arrow-color);
        }
    }
}

.top-menu {
    height: 100%;

    &__main {
        width: 292px;
        height: 100%;
        border-right: 1px solid var(--top-menu-border-color);
    }
}

.menu-column {
    display: flex;
    gap: 14px;

    &__icon {
        position: relative;
        width: 36px;
        height: 36px;
    }

    &__icon-1 {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }

    &__icon-2 {
        position: absolute;
        top: 12px;
        left: 12px;
        width: 24px;
        height: 24px;
        object-fit: cover;
        color: var(--menu-icon-color);
    }

    &__heading {
        color: var(--menu-text-color);
        padding-top: 6px;
        padding-bottom: 26px;
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
    }

    &__link {
        display: flex;
        padding-bottom: 14px;
        color: var(--menu-text-color);
        font-size: 14px;
        font-weight: 400;
        line-height: 142.857%;
    }

    &__item {
        &:last-child a {
            padding-bottom: 0;
        }
    }
}
