@use "../abstracts";

.dropdown {
    position: absolute;
    left: 0;
    padding-top: 54px;
    // display: none;
    width: min(1240px, 100%);

    &__inner {
        --inner-max-height: min(582px, 100vh - 158px);
        --inner-padding: 30px;

        position: relative;
        // max-height: var(--inner-max-height);
        padding: var(--inner-padding);
        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: 0px 40px 90px 20px var(--dropdown-shadow);

        &::before {
            position: absolute;
            content: url("../icons/dropdown-arrow.svg");
            top: -13px;
            left: var(--arrow-left-pos);
            translate: -50%;
            filter: var(--dropdown-arrow-color);
        }
    }
}

.top-menu {
    position: relative;
    // display: flex;

    --max-inner-height: calc(var(--inner-max-height) - var(--inner-padding) * 2);

    &__main {
        display: flex;
        width: 292px;
        height: var(--max-inner-height);
        border-right: 1px solid var(--top-menu-border-color);
        overflow-y: auto;
    }
}

.menu-column {
    display: flex;
    gap: 14px;

    + .menu-column {
        margin-top: 22px;
    }

    &__icon {
        position: relative;
        flex-shrink: 0;
        width: 36px;
        height: 36px;

        @include abstracts.breakpoint(xl) {
            display: none;
        }
    }

    &__icon-1 {
        width: 30px;
        height: 30px;
        object-fit: fill;
    }

    &__icon-2 {
        position: absolute;
        top: 12px;
        left: 12px;
        width: 24px;
        height: 24px;
        object-fit: fill;
        filter: var(--menu-icon-color);
    }

    &__heading {
        color: var(--menu-text-color);
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
    }

    &__list {
        margin-top: 19px;
    }

    &__item {
        &--active .sub-menu {
            display: grid;
        }
    }

    &__item--active > &__link,
    &__item:hover > &__link {
        color: #0071dc;
        font-weight: 500;
    }

    &__link {
        display: block;
        padding: 7px 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 142.857%;
    }
}

.sub-menu {
    display: none;
    // display: grid;
    position: absolute;
    gap: var(--inner-padding);
    inset: 0 0 0 322px;
    grid-template-columns: repeat(3, 1fr);
    overflow-y: auto;

    &__column {
        display: flex;
        flex-direction: column;
        // row-gap: 30px;
    }

    &--not-main {
        position: initial; //initial: về giá trị khởi tạo
        display: grid;
        inset: initial;
        grid-template-columns: repeat(4, 1fr);
        height: var(--max-inner-height);
    }
}
